---
import Header from "../components/Header/Header.astro";
import "../styles/index.css";

export interface Props {
  frontmatter?: {
    title?: string;
    description?: string;
    canonicalURL?: URL | string;
    ogImage?: string;
    date?: string;
    author?: string;
    hideInfo?: boolean;
  };
}

const title = Astro.props.frontmatter?.title || "Triângulo";
const date = Astro.props.frontmatter?.date
  ? new Date(Astro.props.frontmatter?.date)
  : new Date();
const description = Astro.props.frontmatter?.description || "";
const canonicalURL =
  Astro.props.frontmatter?.canonicalURL ||
  new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL(
  Astro.props.frontmatter?.ogImage || "/images/social.png",
  Astro.site
);
const author = Astro.props.frontmatter?.author || "Hugo de Oliveira";
const hideInfo = Astro.props.frontmatter?.hideInfo;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=1"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=1"
    />
    <link rel="manifest" href="/manifest.json" />
    <script
      src="https://rudolph-delightful.triangulo.dev/script.js"
      data-site="YWPQPDUT"
      defer
    ></script>

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="author" content={author} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />
  </head>
  <body>
    <Header />
    <main role="main" class="main">
      <article class="post">
        <header class="post-header">
          <h1 class="post-title">{title}</h1>
          {
            hideInfo ? null : (
              <p class="post-info">
                Escrito por <strong>{author}</strong> em{" "}
                {new Intl.DateTimeFormat("pt-BR").format(date)}.
              </p>
            )
          }
        </header>
        <slot />
      </article>
    </main>
    <footer role="footer" class="footer">©triangulo.dev</footer>
  </body>
</html>
